@brown_color : #4E2E1F;

@default_color : #E9E9E9;
@danger_color : #d9534f;
@primary_color : #428bca;
@success_color : #5cb85c;
@info_color:    #5bc0de;
@warning_color: #f0ad4e;

@green_color: #428442;

@default-darker:  lighten(@default_color, 13.5%);
@danger-darker:  lighten(@danger_color, 13.5%);
@primary-darker:  lighten(@primary_color, 13.5%);
@success-darker:  lighten(@success_color, 13.5%);
@info-darker:  lighten(@info_color, 13.5%);
@warning-darker:  lighten(@warning_color, 13.5%);

@white_color : #fff;

@facebook_color : #3F5D9A;
@twitter_color : #1DA1F2;
@youtube_color : #C8312B;
@instagram_color : #4C411E;
@gray_color : #eee;

@min1440:  ~"(min-width: 1440px)";
@min1024:  ~"(min-width: 1024px)";
@jumbo:  ~"(min-width: 768px)";
@midi:  ~"(max-width: 767px)";
@min768max992: ~"(min-width: 768px) and (max-width: 992px)";
@min993max1200: ~"(min-width: 993px) and (max-width: 1200px)";

body {
	background: @default_color;
}
.default{color: @default_color;}
.primary{color: @primary_color;}
.danger{color: @danger_color;}
.success{color: @success_color;}
.info{color: @info_color;}
.warning{color: @warning_color;}

.box-shadow(@style, @c) when (iscolor(@c)) {
  -webkit-box-shadow: @style @c;
  box-shadow:         @style @c;
}

.box-shadow(@style, @alpha: 50%) when (isnumber(@alpha)) {
  .box-shadow(@style, rgba(0, 0, 0, @alpha));
}

.text-shadow(@style, @c) when (iscolor(@c)) {
  -webkit-text-shadow: @style @c;
  text-shadow:         @style @c;
}

.text-shadow(@style, @alpha: 50%) when (isnumber(@alpha)) {
  .text-shadow(@style, rgba(0, 0, 0, @alpha));
}

.margin-top-10{margin-top: 10px;}
.margin-top-30{margin-top: 30px;}
.border-radius(@radius : 0)
{
	 -webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

.affix {
  top: 0;
  width: 100%;
  z-index: 9999;
  .border-radius(0);
  border-left: none;
  border-right: none;
}

nav.affix-top {padding-bottom: 0;margin-bottom:0;}

.top-bar {
    background: @default_color none repeat scroll 0 0;
    height: 40px;
    line-height: 40px;
    position: relative;

    ul {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	}

	li {
	    float: left;
	}

	li a {
	    display: block;
	    color: @brown_color;
	    text-align: center;
	    padding: 0 10px 0 10px;
	    text-decoration: none;
	    font-size: 15pt;
	}

	li a.facebook {

		&:hover {
			background-color: @facebook_color;
	    	color: @white_color;	
		}   
	}

	li a.twitter {

		&:hover
		{
			background-color: @twitter_color;
	    	color: @white_color;
		}  
	}

	li a.youtube {

		&:hover
		{
			background-color: @youtube_color;
	    	color: @white_color;
		}
	}

	li a.instagram {

		&:hover
		{
			background-color: @instagram_color;
	    	color: @white_color;
		}
	}

	&::before, &::after
	{
		content: "";
	    display: block;
	    height: 1px;
	    position: absolute;
	    width: 100%;
	} 

	&::before {
	    background: rgba(204, 204, 204, 1) none repeat scroll 0 0;
	    bottom: 0;
	}
	&::after {
	    background: #fff none repeat scroll 0 0;
	    bottom: -1px;
	}

}

header {
    background: @default_color none repeat scroll 0 0;
    height: 70px;
    overflow: hidden;
    h1 {
    	padding: 0;
    	margin: 10px 0;
    	color: @success_color;
    	.text-shadow(0 0 3px, 20%)
    }
}

section#mySlider 
{
	height: 600px;
	width: 100%;

	.carousel-inner {
	    position: relative;
	    width: 100%;
	    height: 600px;
	    .item {
	    	height: 100%;
		    img.mycarouselimage{
				width: 100%;
			    height: 100%;
			}

		    .carousel-caption
		    {
		    	position: absolute;
		    	bottom: 0;
		    	.container > .caption-container {
				    	background: rgba(78, 46, 31, 0.4) none repeat scroll 0 0;
					    border-top: 5px solid @success_color;
					    display: inline-block;
					    float: left;
					    padding: 15px;
					    text-align: center;
					    width: 50%;
					    &:hover
					    {
					    	background: rgba(78, 46, 31, 0.6) none repeat scroll 0 0;
					    }

					    .btn-nex-prev
					    {
					    	background-color:@success_color;
					    	color: @white_color;
					    	margin-right: 2px;
					    	padding: 5px;
					    	border: 1px solid @success_color;
					    	&:hover{
					    		background-color:@success-darker;
					    	}
					    }
				}
		    }
		  }
	}

	@media @midi
	{
		position: relative;
	    width: 100%;
	    height: 300px;

		.carousel-inner {
		    position: relative;
		    width: 100%;
		    height: 300px;
		    .item {
			    .carousel-caption
			    {
			    	.container > .caption-container {
						width: 100%;
					}
			    }
			  }
		}
	}
}

.affix + section#mySlider  {
  margin-top: 70px;
}

.height-100{height: 100px;}
.height-150{height: 150px;}
.height-200{height: 200px;}
.cwrap
{
	padding: 10px 10px;
	width: 100%;

	.cwarp-header {
		border-bottom: 1px solid @gray_color;
		margin-bottom: 5px;
		> h1, .cwarp-header h2, .cwarp-header h3, .cwarp-header h5, .cwarp-header h5, .cwarp-header h6{
			font-size: 15pt;
			padding-top: 0;
			margin-top: 0
		}
	}

	.cwarp-header-small {
		border-bottom: 1px solid @gray_color;
		margin-bottom: 5px;
		> h1, .cwarp-header h2, .cwarp-header h3, .cwarp-header h5, .cwarp-header h5, .cwarp-header h6{
			font-size: 11pt;
			padding-top: 0;
			margin-top: 0
		}
	}

	.cwarp-body
	{

	}

	.cwrap-footer
	{
		padding: 5px 0 5px 0;
		border-top: 1px solid @gray_color;
		margin-top: 5px;
		height: auto;
	}
}

.cwrap-default
{
	background-color: @white_color;
}

.cwrap-default-line
{
 	border-top: 5px solid @success_color;
}

.cwrap-primary-line
{
 	border-top: 5px solid @primary_color;
}

.cwrap-danger-line
{
 	border-top: 5px solid @danger_color;
}

footer.my-footer
{
	padding: 10px 0;
	background: @success_color;
	color: @white_color;
	min-height: 50px;
}

.img-fammily
{
	.border-radius(50%);
	border:3px solid @primary_color;
	padding: 3px;
}

#Map > area 
{
	&:hover
	{
		border: 1px solid red;
	}
}

.navbar-form-edit
{

	input.form-control
	{
		.border-radius(0);
		border: 1px solid @green_color;
	}

	.input-group-btn button
	{
		.border-radius(0);
		border: 1px solid @green_color;
	}
}




